.profileContainer {
    width: fit-content;
    margin: auto;
    font-family: "Segoe UI", sans-serif;
    padding: 25px 120px;
    background: #151414;
    border-radius: 4px;
    border: 1px solid #302d2d;
    animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}